DEBUG=True
SECRET_KEY= Defina sua chave secreta
ALLOWED_HOSTS=127.0.0.1, localhost
AWS_ACCESS_KEY_ID=AKIARHUGEAQESLPE3K4D
AWS_SECRET_ACCESS_KEY=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
AWS_STORAGE_BUCKET_NAME=bucket-devpro
SENTRY_DSN=
INTERNAL_IPS=127.0.0.1